@charset "utf-8";
/* CSS Document */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, img, table, td, th, caption, form, fieldset, label, legend {
    margin: 0;
    padding: 0;
}
img, td, th, table {
    border: medium none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: 400;
}
ul, ol {
    list-style-type: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
	background-image:url(images/bg.jpg);
    background-repeat:repeat;
	}
.mainblocks {
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
    width: 400px;
}
.textblocks {
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 5px;
    padding: 5px;
    width: 400px;
}
.inputbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #006699;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 30px;
    text-indent: 5px;
    width: 100px;
}
.inputerror {
    background: none repeat scroll 0 0 #FFC1C1;
    border: 1px solid #FF4040;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 30px;
    text-indent: 5px;
    width: 100px;
}
.checkbox {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    width: 100px;
}
.adviceHidden {
    color: red;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    padding: 0;
    visibility: hidden;
    width: 300px;
}
.adviceVisible {
    color: red;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    padding: 0;
    visibility: visible;
    width: 300px;
}
#results {
	float: right;
	width: 450px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #E0E0E0;
	border: #000 solid 1px;
	text-align: left;
	margin-top: 200px;
	height: 165px;
}
#header {
	background-image: url(images/header.jpg);
	background-repeat: repeat-x;
	width: 100%;
	border-bottom-width: medium;
	border-bottom-style: ridge;
	border-bottom-color: #FFF;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	padding-top: 65px;
	padding-bottom: 40px;
}
#results ul li {
	margin: 15px;
}

#calculator_form {
	float: left;
	width: 450px;
	background-color: #E0E0E0;
	border: #000 solid 1px;
	margin-top: 50px;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 50px;
}
#footer {
	background-image: url(images/footerbg.jpg);
	height: 80px;
	width: 100%;
	clear: both;
	overflow: hidden;
	border-top-width: medium;
	border-top-style: ridge;
	border-top-color: #FFF;
}
#footer p {
	color: #FFF;
	padding-left: 20px;
	padding-top: 30px;
}


#mainwrapper {
	width: 960px;
	margin:0 auto;
}
